# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
djEnv/

# Environment
.env
.env/

# Database
# *.sqlite3
# db.sqlite3

# Media / Static
# media/
# staticfiles/

# Editors / OS
.vscode/
.cph/
*.exe
*.bin
