
asgiref
blinker
certifi
chardet

colorama

crispy-bootstrap5

dbus-python
defer
distlib

distro-info
Django
django-crispy-forms
django-environ
filelock
httplib2
idna

jeepney
keyring

launchpadlib
importlib-metadata
lazr.uri
macaroonbakery
more-itertools
netifaces
oauthlib
olefile
pexpect
Pillow
platformdirs
protobuf
psycopg2
ptyprocess
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
sqlparse
systemd-python
typing_extensions

urllib3
virtualenv
wadllib

zipp