{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <title>
            {% block title %}Library Management System{% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

        {% block head_extra %}{% endblock %}
        <style>
            footer {
                position: fixed !important;
                bottom: 0 !important;
                width: 100%;
            }
        </style>
    </head>
    <body class="bg-gray-400">
        {% include 'core/navber.html' %}
        {% block content %}
            <div class="lg:container lg:mx-auto mb-250" id="main">
                {% include 'core/messages.html' %}
                {% block body %}
                {% endblock %}
            </div>
            
        {% endblock %}
        {% include 'core/footer.html' %}
    </body>

</html>